.spinner:before {
  content: "";
  left: 50%;
  top: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0);
  border-top-color: black;
  border-bottom-color: black;
  animation: spinner 1s linear infinite;
}

.spinner:before, .loading-caption {
  position: absolute;
  box-sizing: border-box;
  z-index: 5;
}

.loading-caption {
  top: 60%;
  text-align: center;
  margin: auto;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Helvetica Neue', Helvetica, Roboto, 'Segoe UI', Arial, sans-serif;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
