<?xml version='1.0' encoding='utf-8'?>
<widget id="com.atmocast.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Atmocast Weather</name>
    <description>
        Simple weather forecasts
    </description>
    <author email="jared@colgro.com" href="https://holmeswebdev.com">
        Jared Holmes
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <access origin="*" />
        <allow-navigation href="*" />
        <allow-intent href="*" />
        <icon density="hdpi" src="/res/icon/android/icon-72x72.png" />
        <icon density="xhdpi" src="/res/icon/android/icon-96x96.png" />
        <icon density="xxhdpi" src="/res/icon/android/icon-144x144.png" />
        <icon density="xxxhdpi" src="/res/icon/android/icon-72x72.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
    <engine name="android" spec="^7.1.1" />
</widget>
