{% extends "weather_main/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
    Create An Account
  {% endblock %}
</head>
<body>
  {% block main %}
  <div id="accountApp">
    <h1 class="fs-xxl fw-bold text-center sign-up-title">Weather at a glance. All the details you need.</h1>

    <div class="sign-up-progress row">
      <div class="col-4 offset-2 fw-semi progress-step active">
        Choose plan
      </div>
      <div class="col-4 fw-semi progress-step">
        Payment
      </div>
    </div>

    {% block form %}
    {% endblock %}
  </div>
  {% endblock %}

  {% block extra_scripts %}
    <script src="{% static 'weather_main/www/static/weather_main/dist/bundles/loginStyles.bundle.js' %}" charset="utf-8"></script>
  {% endblock %}
</body>
</html>
