{% extends "weather_main/base.html" %}
{% load static %}

{% block title %}
Terms of Use
{% endblock %}

{% block main %}
<div class="terms">
  <h1 class="fs-large fw-bold">Atmocast Terms of Use</h1>

  <br>

  <p class="fw-light">Revised 27 October 2018</p>

  <br>

  <p class="intro">The terms of use stated here apply for any user (henceforth referred to as “the user”) of the services (henceforth referred to as “the service”) provided by Atmocast, its developers and affiliates (henceforth referred to as “the provider”).</p>

  <br>

  <h2 class="fw-semi fs-moderate">1. General</h2>

  <br>

  <p>1.1.	Use of the service is governed by these terms; failure to adhere to these terms may result in termination or suspension of the user, and any associated accounts, from the service.</p>

  <p>1.2.	These terms of service may be revised at any time as necessary, and the provider does not guarantee that the user will always be notified of such revisions.</p>

  <br>

  <h2 class="fw-semi fs-moderate">2. Privacy Policy</h2>

  <br>

  <p>2.1.	The service uses an analytics service which may collect certain user information, including, but not limited to, the device specifications, location, browser and language of the user.</p>

  <p>2.2.	The provider agrees to keep confidential any data obtained by the user and will not share such data with third parties.</p>

  <br>

  <h2 class="fw-semi fs-moderate">3. Limitation of Liability</h2>

  <br>

  <p>3.1.	The provider will not be held responsible, under any circumstances, for any loss or damages resulting, directly or indirectly, from the use of the service or the association with the provider.</p>

  <p>3.2.	The service uses data, such as weather and location data, obtained from third-party providers, and as such shall in no event be held responsible for issues regarding the accuracy of the resulting information communicated to the user.</p>

  <br>

  <h2 class="fw-semi fs-moderate">4. Intellectual Property</h2>

  <br>

  <p>4.1.	“Atmocast”, the service and any property contained within and relating to the service, such as logos, icons and any other intellectual property are subject to copyright by the provider or their respective providers.</p>

  <p>4.2.	The user will not reproduce, replicate or redistribute any property provided by, and relating to the service and the provider.</p>

  <br>

  <h2 class="fw-semi fs-moderate">5. Payment and Billing</h2>

  <br>

  <p>5.1.	Use of a paid variant of the service will incur billing of the amount reflecting its respective price on a monthly or annual basis, as agreed upon between the user and the provider.</p>

  <p>5.2.	A paid variant of the service may include a free trial lasting up to thirty (30) days. Once the free trial period has ended, the user will be required to pay for the service in order to continue using it.</p>

  <p>5.3.	Billing for the service may begin as soon as one day after the conclusion of the free trial.</p>

  <p>5.4.	The user agrees to refrain from producing multiple accounts with intentions of obtaining multiple free trials for the service.</p>

  <p>5.5.	In the event of the termination of the user’s subscription, the user will not be refunded for the month during which the cancellation occurred.</p>

  <p>5.6.	Failure of the user to make the required payments for the service may result in the suspension or termination of the user’s account, preventing the user from accessing the paid service.</p>

  <p>5.7.	Processing of payment and authorisation of payment information is undertaken by a third party and, as a result:

  <ul>
    <li>5.7.1.	The provider will not be held responsible for any complications which may arise between the user and the payment service and/or financial institutions.</li>
    <li>5.7.2.	The provider has no access to the financial information, such as credit card details, of the user.</li>
  </ul>

  <p>5.8.	Pricing of the service may be revised at any time. The user agrees to make efforts to notify the user before any such revisions are implemented.</p>

  <p>5.9.	Fees supplied as pricing for the service exclude additional external costs which may occur, such as bank fees and location-specific taxes.</p>

  <br>

  <h2 class="fw-semi fs-moderate">6. Termination</h2>

  <br>

  <p>6.1.	The provider reserves the right to terminate, at its discretion and at any time, the user’s access to the service, without prior notice.</p>

  <p>6.2.	The user may terminate their relationship with the provider and use of the service at any time.</p>

  <p>6.3.	Accounts which remain unpaid and therefore dormant for six months will be deleted.</p>

  <br>

  <h2 class="fw-semi fs-moderate">7. Contact</h2>

  <br>

  <p>7.1.	Questions or feedback regarding the service and its terms may be directed via email to <a href="mailto:jared@colgro.com">jared@colgro.com.</a></p>
</div>

{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'weather_main/www/static/weather_main/dist/bundles/styles.bundle.js' %}" charset="utf-8"></script>
{% endblock %}
