{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#FFFFFF">
  <meta name="description" content="Atmocast provides detailed weather forecasts, including current conditions, hourly forecasts and daily forecasts.">
  <link rel="apple-touch-icon" href="{% static 'weather_main/www/static/weather_main/dist/icons/app_icons/apple-touch-icon.png' %}">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="shortcut icon" href="{% static 'weather_main/www/static/weather_main/dist/icons/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'weather_main/www/static/weather_main/dist/spinner.min.css' %}">
  <link rel="manifest" href="{% static 'weather_main/www/static/weather_main/dist/manifest/manifest.json' %}">
  <title>Atmocast Weather – Simple weather forecasting</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126836360-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-126836360-1');
  </script>

</head>
<body>
  <div id="loading-section">
    <div class="spinner">
    </div>
    <div class="loading-caption">
      Loading your weather data
    </div>
  </div>
  <div id="app">
    {% csrf_token %}
    <router-view></router-view>
  </div>
  <script type="text/javascript">
    let isApp = false;
    let proUser = false;
    let paidUser = false;
    let userID = 0;
    const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    if ('{{ paidUser }}' === 'True') {
      paidUser = true;
      userID = {{ user.id }};

      if ('{{ proUser }}' === 'True') {
        proUser = true;
      }
    }

    document.addEventListener(
      "deviceready",
      () => isApp = true,
      false
    );

  </script>
  <script src="{% static 'weather_main/www/static/weather_main/dist/bundles/styles.bundle.js' %}" charset="utf-8"></script>
  <script src="{% static 'weather_main/www/static/weather_main/dist/bundles/app.bundle.js' %}" charset="utf-8"></script>
  <script src="{% static 'weather_main/www/static/weather_main/dist/bundles/persist.bundle.js' %}" charset="utf-8"></script>
</body>
</html>
